@font-face { font-family: Pixel; src: url('resources/slkscr.ttf'); } 

html, body {
    margin: 0;
    padding: 0;
    background: #070707;
}
#gamefield {
	position: relative;
	margin: 100px auto 0;
    width: 700px;
    height: 450px;
    /*border: solid 10px rgba(0,255,0,0.2);*/
	border: solid 10px rgba(0,249,255,0.5);
}
h1 {
    color: #0f0;
    font-family: Arial;
    text-align: center;
    text-transform: uppercase;
	line-height: 0;
}

ul {
	padding: 0;
}
li {
	border: solid 5px #0f0;
	text-align: center;
	width: 250px;
	margin: 10px auto 0;
	padding: 10px;
	color: #fff;
	list-style-type: none;
	font: 24px Pixel;
}
li.selected {
	background-color: #f00;
}
#scores {
	margin-top: -50px;
	margin-bottom: 50px;
	color: #fff;
	font: 30px Pixel;
}
#scores > div {
	float: left;
	width: 250px;
}
#scores > div:last-child {
	float: right;
	text-align: right;
}
#scores > div:first-child span {
	float: right;
}
#scores > div:last-child span {
	float: left;
}
form {
	text-align: center;
	color: #fff;
}

#slider{
	position: relative;
	margin: 20px auto 0;
	text-align: center;
	color: #fff;
}

.box {
  position:relative;
  }
.menu {
  width:100px; 
  text-align:center; 
  position:absolute;
  top: 400px;
  left: 600px;
  background: rgba(255,255,255,0.75);
  z-index: 100;
  opacity:1;
  }
.menu.hide {
    z-index: 0;
    opacity: 0;
}
.menu a, .menu a:visited {
  text-decoration:none; 
  color:#c00; 
  display:block; 
  width:88px; 
  height:16px; 
  border:1px solid #fff; 
  padding:5px;
  }
* html .menu a, 
* html .menu a:visited {
  width:100px; 
  height:28px; 
  w\idth:88px; 
  he\ight:16px;
  }
.menu a span {
  display:none;
  }
.menu a:hover {
  border:1px solid #c00; 
  }
.menu a:hover span.left, 
.menu a:hover span.right {
  display:block; 
  position:absolute; 
  height:0; 
  width:0; 
  overflow:hidden; 
  border-top:8px solid #fff; 
  border-bottom:8px solid #fff; 
  }
.menu a:hover span.left {
  left:5px; 
  top:5px; 
  border-left:8px solid #c00;
  }
.menu a:hover span.right {
  left:87px; 
  top:5px; 
  border-right:8px solid #c00;
  }

* html .menu a:hover span.left, 
* html .menu a:hover span.right {
  width:8px; 
  height:16px; 
  w\idth:0; 
  he\ight:0;
  }
  
 div#view{
	color: #fff;
 }